<div class='sheet-tabs tabs' data-group='primary'>
  <a class='nav-tab {{tabs.list.cssClass}}' data-action="tab" data-group="primary" data-tab="list">{{localize 'OSRH.effect.activeEffects'}} </a>
  <a class='nav-tab {{tabs.create.cssClass}}' data-action="tab" data-group="primary" data-tab="create">{{localize 'OSRH.customEffect.newEffect'}} </a>
</div>