
/* travel calc */

#osrTravelReport .window-content {
  margin: 0;
  padding: 0;
}
#travel-calc {
  background-color: rgb(228, 224, 218);
  width: 100%;
  min-height: 500px;
}
#travel-calc h1 {
  text-align: center;
  border: none;
}
#travel-calc .terrain {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 1em 0.25em;
}
#travel-calc h3 {
  text-align: center;
  padding: 0;
  margin: 0;
}
#travel-calc .terrain-select-row {
  display: flex;
  justify-content: space-between;
  text-align: center;
  width: 400px;
}
#travel-calc .terrain-select {
  display: flex;
  justify-content: space-between;
  /* padding: 0 5px; */
  width: 100px;
}
#travel-calc .terrain-select label {
  width: 190px;
}
#travel-calc section:nth-of-type(2n + 1) {
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}
#travel-calc section {
  min-width: 100%;
}
#travel-calc #party-list {
  height: 200px;
}
#travel-calc .actor-list::-webkit-scrollbar {
  display: none;
}
#travel-calc .actor-list {
  overflow-y: scroll;
  scrollbar-width: none;
}
#travel-calc h3{
  border: none;
}
#BTR {
  margin: 0 5px;
}
/* button divs */
#travel-calc #util-rolls {
  display: flex;
  justify-content: space-evenly;
  padding: 5px 0 10px 0;
}
#travel-calc .button-container {
  width: 125px;
  height: 90px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}
#travel-calc .button-container button {
  width: 50px;
  height: 30px;
}

#travel-calc .bonus-input {
  width: 25px;
  height: 20px;
  margin-left: 5px;
}
#travel-calc .bonus-div {
  padding-bottom: 5px;
  display: flex;
  justify-content: space-between;
}
#util-rolls button:focus {
  outline: none;
  box-shadow: none;
}

.btn-spcr {
  height: 20px;
  margin-bottom: 10px;
}