/* travel calc */

#osrTravelReport {
  .window-content {
    margin: 0;
    padding: 0;
  }
}

#travel-calc {
  background-color: rgb(228, 224, 218);
  width: 100%;
  min-height: 500px;

  h1 {
    text-align: center;
    border: none;
  }

  h3 {
    text-align: center;
    padding: 0;
    margin: 0;
    border: none;
  }

  section {
    min-width: 100%;

    &:nth-of-type(2n + 1) {
      border-top: 2px solid black;
      border-bottom: 2px solid black;
    }
  }

  .terrain {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 1em 0.25em;
  }

  .terrain-select-row {
    display: flex;
    justify-content: space-between;
    text-align: center;
    width: 400px;
  }

  .terrain-select {
    display: flex;
    justify-content: space-between;
    /* padding: 0 5px; */
    width: 100px;

    label {
      width: 190px;
    }
  }

  #party-list {
    height: 200px;
  }

  .actor-list {
    overflow-y: scroll;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  #util-rolls {
    display: flex;
    justify-content: space-evenly;
    padding: 5px 0 10px 0;

    button:focus {
      outline: none;
      box-shadow: none;
    }
  }

  .button-container {
    width: 125px;
    height: 90px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;

    button {
      width: 50px;
      height: 30px;
    }
  }

  .bonus-input {
    width: 25px;
    height: 20px;
    margin-left: 5px;
  }

  .bonus-div {
    padding-bottom: 5px;
    display: flex;
    justify-content: space-between;
  }
}
#osrTravelReport.v2 {
  h1, h3,h4,div,label, input, button{
    color: var(--text-light);
  }

  background: transparent;
  .window-header {
    background-color: var(--grad-1-a);
    i,
    button {
      color: white;
    }
  }
  .window-content {
    background: linear-gradient(var(--grad-1-a), var(--grad-1-b));

    #travel-calc{
      background-color: transparent;
    }
  }
  
}

#BTR {
  margin: 0 5px;
}

.btn-spcr {
  height: 20px;
  margin-bottom: 10px;
}
