/* turn tracker */
.app.osrh.turn-tracker {
  

  section.window-content {
    padding: 0;
    background-color: #e9e6d9;
    background-image: none;
  }

  form {
    height: 100%;
    width: 100%;
    display: grid;
    z-index: 5;
  }
  h2 {
    border: none;
    text-align: center;
    font-weight: 600;
  }
  section.main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .nav-tab,
/* .osrh.turn-tracker i,  */
 .title {
    color: #e9e6d9;
  }
  .light-icon {
    color: #e9e6d9;
  }
  .dark-icon {
    color: #221e2e;
  }
  .title {
    color: #e9e6d9;
    font-weight: 600;
    font-size: 1.2rem;
  }
  .sheet-tabs {
    display: flex;
    justify-content: space-evenly;
    font-weight: 600;
    z-index: 5;
  }
  .sheet-tabs a {
    flex: 1;
    text-align: center;
  }
  .nav-tab.active {
    background-color: #3e345a;
  }
  .travel-tab,
  .dungeon-tab,
  .config-tab,
  .tab,
  .tab-content {
    position: relative;
    height: 100%;
    width: 100%;
  }
  .narrow-tab {
    width: 35px;
    max-width: 35px;
  }
  .dungeon-tab::before {
    content: '';
    background-image: url('../images/trackerbg.jpg');
    background-size: auto;
    background-repeat: no-repeat;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.75;
    z-index: -1;
  }
  .blank-button {
    width: 30px;
    height: 24px;
  }
  .dungeon-config-tab::after {
    content: '';
    background-image: url('../images/trackerbg.jpg');
    background-size: auto;
    background-repeat: no-repeat;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.45;
    z-index: -1;
  }
  .global-config::before,
  .travel-config-tab::before,
  .travel-tab::before {
    content: '';
    background-image: url('../images/travel-tab-bg.webp');
    background-size: auto;
    background-repeat: no-repeat;
    position: absolute;
    top: -5px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.25;
    z-index: -1;
  }
  /* global config */
  .global-options {
    height: 100%;
    display: flex;
  }
  .global-options .main {
    width: 100%;
    height: 82%;
    border-radius: 0.5em;
    margin: 1em;
    background-color: #ffffff88;
  }
  /* .osrh.turn-tracker .travel-config-tab::before{
  top: 10px;
} */
  .config-tab {
    display: flex;
    flex-direction: column;

    background-color: #ffffff;
    z-index: 10;
  }
  .travel-config-tab {
    height: 340px;
    display: grid;
    align-items: start;
    grid-template-rows: 2em auto;
    justify-items: center;
  }
  .dungeon-tab {
    display: grid;
    place-items: center;
    z-index: 1;
  }

  footer {
    position: absolute;
    top: 350px;
    width: 100%;
    height: 40px;
    display: flex;
    height: 2.5rem;
    justify-content: space-between;
    padding: 0 1em;
    align-items: center;
    background-color: #221e2e;
    z-index: 15;
  }
  footer i {
    /* font-size: 1.5rem; */
    text-wrap: nowrap;
    margin: 0 5px;
  }
  header {
    background-color: #221e2e;
  }
  .count-cont {
    position: relative;
    top: -20px;
    padding: 0.5rem;
    border-radius: 5px;
    background-color: #ffffff77;
    display: flex;
    /* width: 100%; */
    flex-direction: column;
    align-items: center;
    z-index: 3;
  }
  .count-cont .row {
    width: 100%;
    justify-content: space-between;
  }
  .travel-options {
    width: 97%;
    padding: 0.3em;
    background-color: #fff8;
    border-radius: 0.3em;
  }
  .config-tab label {
    font-weight: 600;
  }
  .tracker-header {
    display: flex;
    flex-direction: column;
  }
  header .btn-div {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  .btn-div i {
    font-size: 1rem;
  }
  .count-label {
    font-size: 1.5em;
    font-weight: 600;
  }
  .count-value {
    font-size: 1.8em;
    font-weight: 600;
  }
  .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0.2rem;
  }
  .half-row {
    width: 50%;
  }
  .num-inp {
    width: 3em;
    margin-right: 0.2em;
    text-align: center;
    font-weight: 600;
    border: none;
    border-style: none;
  }
  .d-level-row {
    margin-top: 1rem;
  }
  .row.dungeon-lvl {
    justify-content: center;
    width: 100%;
  }
  .dungeon-lvl i {
    font-size: 1.5rem;
    color: #221e2e;
  }

  input#d-level {
    margin: 0 0.3em;
    font-weight: 800;
    font-size: 25px;
  }
  /* BG image sprites */
  .bg-img-cont {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 0;
  }
  .sprite {
    position: absolute;
    border: none;
  }
  #bg-0 {
    top: -5px;
    left: 55px;
  }
  #bg-1 {
    top: 0px;
    left: 55px;
  }
  #bg-2 {
    top: 140px;
    left: 5px;
  }
  #bg-3 {
    top: 260px;
    left: 100px;
  }
  #bg-4 {
    top: 135px;
    left: 225px;
  }
  #bg-5 {
    top: 0px;
    left: 185px;
  }

  .travel-tab {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
  }
  .travel-tab #terrain {
    width: 35%;
    text-align: center;
    height: 1.3em;
    background-color: #ffffffbb;
  }
  .travel-tab h2.terrain-spacer {
    margin-bottom: 0.8em;
  }
  .travel-tab h2 {
    text-shadow: 0 0 4px #dbdbdb;
    margin-bottom: 0;
  }
  .travel-tab .actor-list {
    width: 100%;
  }
  .travel-tab .actor-div {
    display: flex;
    justify-content: space-between;
  }
  .travel-tab .actor-div a {
    font-size: 0.8em;
    margin-right: 0.2em;
  }
  .actor-controls {
    display: flex;
    justify-content: space-evenly;
  }
  .travel-tab .travel-total,
  .travel-tab .travel-session {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 8px;
    font-weight: 700;
    font-size: 1.3em;
  }
  .travel-tab .travel-session {
    justify-content: start;
    left: 15px;
    text-align: left;
  }
  .travel-tab .travel-total {
    justify-content: end;
    left: 245px;
    text-align: right;
  }
  .travel-tab .base-rate {
    display: flex;
    justify-content: space-between;
    width: 55%;
    font-weight: 700;
    font-size: 1.1em;
  }
  .travel-tab #party-list::-webkit-scrollbar {
    display: none;
  }
  .check-label {
    font-weight: 700;
    text-align: center;
  }
  .char-list-header {
    font-weight: 700;
    width: 100%;
    border-bottom: 2px solid #222;
  }
  .travel-tab .party-list {
    width: 90%;
    height: 225px;
    overflow-y: scroll;
    border-radius: 0.5em;
    scrollbar-width: none;
    background-color: #ffffff88;
    padding: 0.2em;
  }
  .travel-tab .party-list.lg-list {
    height: 265px;
  }
  .actor-list {
    width: 100%;
  }
  .travel-checks {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
  }
  .travel-checks input {
    background-color: #ffffff88;
    text-align: center;
  }
  .input-block {
    display: flex;
    flex-direction: column;
    width: 35%;
  }
  .flex-row {
    display: flex;
    justify-content: space-evenly;
  }
  .input-block input {
    width: 2em;
  }
  .travel-tab .input-block i {
    color: #221e2e;
    font-size: 1.5rem;
  }
  .terrain-type {
    font-weight: 700;
    color: #221e2e;
  }
  .travel-rest-count {
    /* font-size: 1.2em */
    width: 120px;
  }
  .travel-config-tab select,
  .dungeon-config-tab select {
    width: 150px;
  }
}
