<form id="customEffectForm">
  <div class="formInputs">
    <div class="inputDiv">
      <label for="effectName">Effect Name</label>
      <input type="text" name="effectName" id="effectName" placeholder="Name" />
    </div>
    <div class="inputDiv">
      <label for="effectDesc">Effect Description</label>
      <textarea placeholder="Enter Brief Description" name="effectDesc" id="effectDesc" rows="5" col="35"></textarea>
    </div>
    <div class="inputDiv">
      <label for="targetName">Target Name (optional)</label>
      <input onClick="this.select();" type="text" name="targetName" id="targetName" value="none" />
    </div>
    <div class="whisperTargetDiv">
      <label for="targetCheck">Whisper Effect to Target?</label>
      <input type="checkbox" name="targetCheck" id="targetCheck" />
    </div>
    <div class="inputDiv">
      <label for="effectDuration">Effect Duration In Minutes</label>
      <input type="number" name="effectDuration" id="effectDuration" value="0" />
    </div>
  </div>

  <footer>
    <button type="submit" name="sumbit"><i class="fa fa-check"></i> OK</button>
  </footer>
</form>
