<div class="txt-center effect-list-title">{{localize "OSRH.customEffect.customEffectList"}}</div>
<div class="fx sb">
  <div class="fx fdc aic w100">
    <div id="effectList" class="w100 h100 pt">
      <h3 class="txt-center">{{localize "OSRH.customEffect.noEffectActive"}}</h3>
    </div>
  </div>
  <div class="fx fdc aic w100">
    <div id="effectDetails" class="w100 h100"></div>
  </div>
</div>
<div class="fx sb">
  <button type="button" id="effectListClose">{{localize "OSRH.customEffect.close"}}</button>
  <button type="button" id="newEffect">{{localize "OSRH.customEffect.newEffect"}}</button>
</div>
