<form action="">

  <div class="fx fdc aic w100p h100p">
    <div class="fx jce w100p">
      <h3>{{localize "OSRH.effect.effectPresets"}}</h3>
      <div class="fx sb">
        <a  class="xprt-btn" id="xprt" title="Export Custom Presets">
          <i class="fas fa-download fa-sm"></i>
        </a>
        <a type="file"  class="xprt-btn" id="imprt" title="Import Custom Presets">
          <i class="fas fa-upload fa-sm"></i>
        </a>
      </div>
    </div>
    {{#each effectList}}

    <details class="w100p">
      <summary class="fx sb w100p">
        <div id="name">{{this.name}}</div>
      <div class="">
        <a id="{{this.id}}"class="delete-btn"><i class="fas fa-times"></i></a>
      </div>
      </summary>
      <div class="fx sb w100p">
        <div class="descrip">
          {{this.data.descrip}}
        </div>
      </div>
    </details>
    {{/each}}
    

  </div>
</form>