{{#each actors as |character idx|}}
      <div class="actor-div fx sb plr5">
        <div class="of-hide w140">{{character.name}}</div>
        <div>{{character.distance}} mi</div>
      </div>
{{/each}}