<div class="tab config" data-group='primary' data-tab='config'>
  <div class="config-cont">
    <label for="grid-size"><b>{{localize "OSRH.config.gridSize"}}</b></label>
    <select name="gridsize" id="grid-size">
      <option value="5">5</option>
      <option value="7">7</option>
      <option value="9">9</option>
      <option value="11">11</option>
    </select>
  </div>
</div>