:root {
  --hotbar-center: 220px;
}
#customEffectForm .effectDesc {
  height: 100px;
}

#customEffectForm .inputDiv {
  padding: 0.5em 0;
}

#customEffectForm .whisperTargetDiv {
  display: flex;
  justify-content: space-between;
  padding: 0.5em 0;
}
#hotbar {
  left: var(--hotbar-center);
}
.ose-helper-icon {
  padding: 0 3px;
}
